@charset "utf-8";
/* CSS Document */

/**************************** Global ********************************/
html{ 
    min-height:100%;
}

body{
	/* This image will be displayed fullscreen */
    background:black;
    /*background-size:cover; */
    /* Workaround for some mobile browsers */
    min-height:100%;
    overflow: hidden;
	width: 100%;
	height:100%;
	font-family: "Microsoft Yahei", "黑体",  "宋体", Verdana, Geneva, sans-serif;
	font-size: 12px; 
	color: white;
}
a{text-decoration:none;color:white;}
a:hover{
	cursor: pointer;
	text-decoration:none;
}

/**************************** Global ********************************/

/******** Page ************/
.wrap{
	width: 100%;
	height:100%;
	overflow: hidden;
	position: absolute;
	 -webkit-transform-style: preserve-3d;
}
.slider article{
	color: white;
	text-shadow: 1px 1px 2px #333;
	right: 0;	 /*default at right*/
	background: -webkit-linear-gradient( top,transparent ,#000 100%);
	background: -moz-linear-gradient( top,transparent ,#000 100%);
	background: -ms-linear-gradient( top,transparent ,#000 100%);
	-webkit-transition:opacity 0.5s ease,-webkit-transform 1s ease-out;
	-moz-transition:opacity 0.5s ease,-moz-transform 1s ease-out;
	-ms-transition:opacity 0.5s ease,-ms-transform 1s ease-out;
}
.slider article.left{
	left:0;
}
.slider article.right{
	right:0;
}
.slider h1{
	text-align: right;
	font-size: 70px;
	line-height: 105px;
	margin-right: 5px;
}
.slider article.left h1{
	text-align: left;
	font-size: 70px;
	line-height: 105px;
}
.slider h2{
	font-size: 40px;
	float: right;
	margin-right: 10px;
}
.slider h3{
	font-size: 27px;
	float: right;
	line-height: 56px;
	margin-right: 20px;
}

.slider section.active article{
	opacity: 1;
	-webkit-transform:translate3d(0,0px,0);
	-moz-transform:translate3d(0,0px,0);
	-ms-transform:translate3d(0,0px,0);
}
.slider section article{
	opacity: 0;
	-webkit-transform:translate3d(0,200px,0);
	-moz-transform:translate3d(0,200px,0);
	-ms-transform:translate3d(0,200px,0);
}

/******* pagination ********/
.pagination {
  position: absolute;
  right: 10px;
  top: 25%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination li {
  padding: 5px;
  width: 16px;
  height: 16px;
}
.pagination li a{
  margin: 0 auto;
  width: 10px;
  height: 10px;
  display: block;
  background: #fafafa;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;

  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -ms-transition:all 0.2s ease;

  box-shadow:0 0 4px white;
}

.pagination li a:hover,.pagination li a.active{
  margin: 0 auto;
  width: 10px;
  height: 10px;
  display: block;
  background: none;
  border-radius: 10px;
  border: 1px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition:all 0.5s ease ;
}
